.logo_place_footer {
  width: 183px;
  height: 35px;
  z-index: 2;
}

.logo_place_footer:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: opacity 0.1s ease-in;
  transition: transform 0.3s ease-in;
}
